/* Settings */

// Font-sizes

$font-xs: 8px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 30px;

// Colors

$primary-color: #333333;
$secondary-color: #858585;
$blue: #3ba2d4;
$white: #f2f2f2;
$light-grey: #77787a;
