/* Typography */


// Font family

.gothamMd {
  font-family: Gotham-Medium;
}

// Font-sizes

.fontXs {
  font-size: $font-xs;
}

.fontLg {
  font-size: $font-lg;
}

// Text transform

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

