/* Footer */

footer {
  .container {
    padding: 90px 0 200px 0;
  }

  ul {
    padding-right: 200px;
  }

  li {
    padding-bottom: 25px;
    &:first-child {
      font-family: Gotham-Bold;
    }
  }

  a {
    color: $primary-color;
    @extend %hover;
  }

}