/* Header styles */

header {
  background-color: $primary-color;

  .headerLeft a {
    max-height: 250px;
    @extend %hover;
    display: inline-block;
  }

  ul li {
    &:first-child {
      font-family: "Gotham-Bold";
    }
  }

  ul li a {
    font-family: "Gotham-Medium";
    font-size: $font-md;
    color: #ffffff;
    @extend %hover;
  }

}

