/* Content element styles */

body {
  font-family: Gotham-Medium;
  font-size: $font-sm;
  color: $primary-color;
  background-color: #ffffff;
}

.clearAfter {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.container {
  width: 80%;
  padding: 0 33px;
  margin: 0 auto;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

/* Backgrounds */

.lightGreyBg {
  background-color: $light-grey;
}

.whiteBg {
  background-color: #ffffff;
}

/* Colors */

.colorBlue {
  color: $blue;
}

// Vertical center

%centerY {
  top: 50%;
  transform: translateY(-50%);
}



